{% extends "layout/base.html" %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% if error %}

      <div class="text-center mt-5">
        <h4 class="p-2">{{error}}</h4>
        <h6>Create new task if you wish</h6>
      </div>
      {% else %}

      <h1 class="p-5 text-center display-3">Tasks pending</h1>
      {% endif %}

      <ul class="list-group">
        {% for task in tasks %}

        <li
          href="{% url 'task_detail' id=task.id %}"
          class="list-group-item card"
          style="cursor: pointer"
          id="{{task.id}}"
        >
          <header class="d-flex justify-content-between">
            <h2 class="fw-bold text-success text-warning hover-effect">
              {{task.title}}
            </h2>
            <p>Created by : {{task.user}}</p>
          </header>
          <p>{{task.description}}</p>
          {% if task.important == True %} {% load static %}
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <p class="m-0" style="color: grey; font-weight: 600">
                It's important
              </p>
              <img
                style="width: 25px"
                src="{% static 'exclamation.png' %}"
                alt=""
              />
            </div>
          </div>
          {% endif %}
          <div class="d-flex justify-content-end">
            <a class="link-warning" href="{% url 'update_task' id=task.id %}"
              >Edit</a
            >
          </div>

          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</main>
<script>
  const cards = document.querySelectorAll(".card");

  cards.forEach((card) => {
    card.addEventListener("click", () => {
      const idCard = card.getAttribute("id");
      console.log("idcard", idCard);
      window.location.replace(`/tasks/${idCard}`);
    });
  });
</script>
{% endblock %}
